<phpunit>
    <testsuites>
        <testsuite name="Deposit">
            <directory suffix="Test.php">test/Deposit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
	<logging>
        <log type="coverage-html" target="coverage/phpunit/html" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    <!--
    <testsuites>
        <testsuite name="Operation">
            <directory suffix="Test.php">test</directory>
        </testsuite>
        
        <testsuite name="Output">
            <directory suffix="Test.php">test</directory>
        </testsuite>
       
    </testsuites>
     -->
</phpunit>
